DATABASE_URI=mongodb+srv://<username>:<password>@<clustername>.xxxxx.mongodb.net/?retryWrites=true&w=majority
NODE_ENV=development
EMAIL_SENDER='emailhandle@email.com'
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET='your-token'
RESET_TOKEN_SECRET=